

body{
    background: linear-gradient(blue, red);
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#ueberschrift{
    width: 100%;
    text-align: center;
}

#loginbox{
    margin-top: 10%;
    width:100%;
}

.inputer{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

input{
    margin-top: 40px;
    width: 100%;
}

#loginbutton{
    width:30%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}


#fertigButton{
    width: 102.9%;
}

#wrongPassword{
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}


@media only screen and (max-width: 550px){


    .inputer{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        
    }

    /* input{
        margin-top: 40px;
        width: 70%;
        height: 100%;
        
        
    } */
    input{
        margin-top: 10px;
    }

    #loginbutton{
        width: 70%;
        height: 30%;
        min-height: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    button{
        margin-top: 20%;
        height: 30%;
        min-height: 50px; 
    }


}