
body{
    background: linear-gradient(blue, red);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#header{
    width:100%;
}

#welcome{
    text-align: center;
}

#unterschrift{
    width: 100%;
}

.unterschriftbutton{
    width:50%;
    margin-left:auto;
    margin-right:auto;
}

.mainbutton{
    width: 48%;
    background: linear-gradient(grey, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: 0px solid black;
}

#boughtbutton{
    float:left;
    
}

#logoutbutton{
    float:right;
}

.infobuttondiv{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;

}

.infobuttonc{
    background: linear-gradient(grey, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: 0px solid black;
    width: 100%;
    margin-top: 10px;
}



#main{
    width: 100%;
    height: auto;
}


a{
    text-decoration: none;
    color: black;
}


.itemBox{
    margin-top: 10px;
    border: 1px solid black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 160px;
    
}

#text{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}



.itemPicture{
    height: 100%;
    float: left;
}

.itemImage{
    height: 100%;
    width: auto;
    
}

.ItemDescription{
    width: 49%;
    height: 100%;
    float: right;
    text-align: center;
}

.itemPreis{
    margin-top: -20px;
}

.itemWerbeSatz{
    margin-top: -10px;
}

@media only screen and (max-width: 670px) {
    

    .itemBox{
        width: 100%;
    }

    .ItemDescription{
        display: none;
    }
    .itemPicture{
        width: 100%;
        clear: both;
        text-align: center;
        
    }

    #text{
        width: 90%;
    }
    
    

}
